*venv
test_env.py
/Users/Kranthi_1/Data-Architect/backend/tools/tools.md

/Users/Kranthi_1/Principal-Agent/backend/database/log_info.db
/Users/Kranthi_1/Principal-Agent/backend/database/conversations.db

