langgraph
langchain
openai
anthropic
cohere
litellm
python-dotenv
langchain-openai
langchain-ollama
langchain-anthropic
langchain-huggingface
langchain-google-genai
ollama
fastapi
uvicorn
chromadb
sqlite4
pypdf
sqlglot
python-multipart
jinja2
langchain_community
streamlit
streamlit-chat
pyyaml
extra-streamlit-components
python-dotenv
langchain-openai
numpy
pypdf2
pdfminer.six
pathlib
watchdog
langgraph-supervisor
langgraph.checkpoint.sqlite
langchain_experimental
plotly
gitpython
requests
pydantic
trustcall
python-multipart
parsimonious
SQLAlchemy
PyYAML
tenacity
networkx

# Security
cryptography
python-jose
passlib
bcrypt

tqdm
pytz

# Testing
pytest

# For Supabase
supabase
postgrest

# Debugging
ipdb
cryptography 
PyGithub
ipython
typing-extensions
regex